$primary: #ff633d; /*#ff5733; */

@import "../../vendor/twbs/bootstrap/scss/bootstrap";

/* Sidebar with smooth animation */
#sidebar {
    overflow-y: auto;
    position: relative;
    flex-shrink: 0;
    width: 20vw;
    left: 0;
    transition: left 0.3s ease-in-out;
}

#sidebar.collapsed {
    left: -20vw;
}

#main-content {
    transition: margin-left 0.3s ease-in-out;
}

#sidebar.collapsed + #main-content {
    margin-left: 0;
}

.logosection {
    width: 20vw;
}

@media (max-width: 991.98px) {
    #sidebar {
        position: fixed;
        left: -100%;
        width: 38vw;
        z-index: 1050;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
        transition: left 0.3s ease-in-out;
    }

    #sidebar.show {
        left: 0;
    }
 .logosection {
        width: 45vw;
    }
    #main-content {
        margin-left: 0 !important;
    }
}

@media (max-width: 767.98px) {
    #sidebar {
        width: 45vw;
    }
    .logosection {
        width: 50vw;
    }
}
