{% extends 'base.html.twig' %}

{% block title %}New Shift{% endblock %}

{% block body %}
    <h1>Create new Shift</h1>

    {{ include('shift/_form.html.twig') }}

    <a href="{{ path('app_shift_index') }}">back to list</a>
{% endblock %}
