{% extends 'base.html.twig' %}

{% block body %}
	<div class="bg-black row px-4">
		<div class="col-2 text-primary">
			<a
				class="navbar-brand" href="#">
				{# <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="HELLO" width="30" height="24"> #}
				OTACOS
			</a>
		</div>
		<div
			class="col-10 d-flex justify-content-end justify-content-lg-between">
			<!-- Toggle button for desktop -->
			<button class="btn btn-link btn-sm text-white d-none d-lg-inline ms-3" id="sidebarToggle">
				<i class="bi bi-list fs-2 fs-lg-1"></i>
			</button>

			<!-- Toggle button for mobile/tablet -->
			<button class="btn btn-link btn-sm text-white d-lg-none ms-3" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
				<i class="bi bi-list fs-2 fs-lg-1"></i>
			</button>

			<!-- User dropdown -->
			<ul class="navbar-nav me-0">
				<li class="nav-item dropdown text-white">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
						<i class="bi bi-person text-white fs-2 fs-lg-1"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-end">
						<li>
							<a class="dropdown-item" href="#">Settings</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="#">Logout</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>


	</div>
	<div
		id="layoutSidenav" class="d-flex">
		<!-- Unified Sidebar -->
		<nav id="sidebar" class="col-2 bg-dark text-white position-relative vh-100 offcanvas-lg offcanvas-start p-3 d-flex flex-column justify-content-between" tabindex="-1">
			<div>
				<h6 class="text-uppercase text-secondary">Planning</h6>
				<a href="#" class="nav-link text-white mb-2">
					<i class="fas fa-tachometer-alt me-2"></i>Tous les Planning</a>

				<h6 class="text-uppercase text-secondary mt-4">Utilisateur</h6>
				<a class="nav-link text-white" data-bs-toggle="collapse" href="#layoutsCollapse">
					<i class="fas fa-columns me-2"></i>Tous les Utilisateur
				</a>
			</div>


			<!-- Sidebar Footer -->
			<div class="sidebar-footer pb-5 mb-5">
				<hr class="border-secondary">
				Bienvenue, Manager</div>
		</nav>

		<!-- Main Content -->
		<div id="layoutSidenav_content" class="flex-grow-1 p-4 col-10">
			<h1 class="mb-4">Dashboard</h1>

		</div>
	</div>
</div>{% endblock %}
