{% extends 'base.html.twig' %}

{% block body %}

  <!-- Topbar -->
<div class="bg-black">
  <div class="text-primary text-center" style = "width: 20vw;">
    <a class="navbar-brand" href="#">OTACOS</a>
  </div>

  <div class="d-flex justify-content-end justify-content-lg-between">
    <!-- Desktop Toggle -->
    <button class="btn btn-sm text-white d-none d-lg-inline" id="sidebarToggle" aria-label="Toggle sidebar">
      <i class="bi bi-list fs-2 fs-lg-1"></i>
    </button>

    <!-- Mobile/laptop Toggle -->
    <button class="btn btn-sm text-white d-lg-none" id="offcanvasToggle"  aria-label="Open sidebar menu">
      <i class="bi bi-list fs-2 fs-lg-1"></i>
    </button>

    <!-- User Dropdown -->
    <ul class="navbar-nav me-0">
      <li class="nav-item dropdown text-white">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
          <i class="bi bi-person text-white fs-2 fs-lg-1"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
