{% extends 'base.html.twig' %}

{% block title %}New Branch{% endblock %}

{% block body %}
    <h1>Create new Branch</h1>

    {{ include('branch/_form.html.twig') }}

    <a href="{{ path('app_branch_index') }}">back to list</a>
{% endblock %}
